$largeText:4.7rem;
$mediumText:1.6rem;
$SegoeSemiBold: 700;
$SegoeSemiLight: 200;
$themeColor: #892CDC;
h1 {
    font-size: $largeText;
    margin: 0;
    font-weight: $SegoeSemiBold;
}

:root {
    font-size: 62.5%;
}

@media only screen and (max-height:568px) {
     :root {
        font-size: 40%
    }
}

@media only screen and (min-height:600px) {
     :root {
        font-size: 53%;
    }
}

@media only screen and (min-height:1000px) {
     :root {
        font-size: 80%;
    }
}

@media only screen and (min-height:1200px) {
     :root {
        font-size: 110%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1.6rem;
}

.container {
    margin: 0 4.5rem;
    box-sizing: border-box;
    position: relative;
}

.page-wraper {
    background-color: #14153D;
}

.error {
    padding-top: 1.5rem;
    font-size: 1.5rem;
    color: red;
    text-align: center;
    font-weight: $SegoeSemiLight;
}